:root {
  --text-primary: #101d42;
  --text-secondary: #fbb44c;
  --text-dark: #2b2922;
  --text-light: #eaeaea;
  --text-white: #ffffff;
  --bg-primary: #141e4c;
  --bg-secondary: #dfedf5;
  --bg-dark: #101d42;
  --bg-light: #ffffff;
  
  --fs-large: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;
  --spacing-xl: 2.625rem;
  --spacing-large: 1.75rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;
  --mobile-logo-height: 45px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Poppins' sans-serif;
}

.welcome .courses {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: 1rem;
} 
header {
  background-color: var(--bg-primary);
  height: 9.063rem;
}
.nav-img {
  height: 3rem;
}
.despre {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: 1rem;
}
nav .despre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  position: fixed;  
  width: 100%;
  top: 0;
  background-color: var(--bg-primary); 
  font-family: 'Poppins',sans-serif;
  z-index: 2;
}   
.buton {
  display: flex;
  align-items: inline;
}
.buton a {
  color: white;
  text-decoration: none;
  padding: 0.625rem;
  font-size: 0.75rem; 
}
nav li {
  position: relative;
}
nav .subnav {
  display: none;
  position: absolute;
  background-color: var(--text-primary);
  padding: 0.313rem;
  z-index: 3;
}
.buton:hover {
  background-color: var(--bg-primary);
}
.despre a:hover {
  color: var(--text-secondary);
}
.drop-down:hover .subnav {
  display: block;
}
.subnav a {
  float: none;
  color: white;
  text-decoration: none;
  display: block; 
  text-align: center;
}
ul {
  list-style-type: none;
  display: flex;
}
.button .material-icons {
  color: white;
  margin-top: 0.063rem; 
  position: absolute;
  font-size: 0.938rem;;
}
.start {
  font-family: 'Poppins' sans-serif;
  background-color: var(--bg-primary);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--text-light);
}
.courses {
  display: grid;
  justify-items: center;
  margin-bottom: 3rem;
}
h2 {
  font-family: 'Poppins' sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--bg-dark);
  text-align: center;
  padding-top: 1.25rem;
}
.text {
  font-family: 'Poppins' sans-serif;
  font-size: 0.875rem;
  color: var(--text-dark);
  text-align: center;
  padding-bottom: 1.25rem;
}
.fw {
  font-weight: 700;   
}
.course { 
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-template-rows: 425px;
  gap: 0rem 1.25rem;
  grid-auto-flow: row;
  grid-template-areas:
  "Python WebDevelopment Java";
}
.Python { 
  grid-area: Python;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 1rem;
  margin-right: -4px;
}
.WebDevelopment {
  grid-area: WebDevelopment;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 1rem;
  margin-right: -4px;
}
.Java { 
  grid-area: Java; 
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 1rem;
  margin-right: -4px;
}
.course p img {
  height: 14px;
  margin-left: 8px;
}     
.course img {
  
    height: 12.8rem;
}
h3 {
  color: var(--bg-dark);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  color: #666666;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.course .material-icons {
  color: #666666;
  font-size: 0.938rem;
}
.button {
  background-color: var(--button-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  height: 1.313rem;
  width: 100px;
  text-align: center;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  margin-top: 1rem;
}
.button a {
  font-size: 0.875rem;
  color: var(--text-white);
  text-decoration: none;
}
.p {
  font-size: 0.875rem;
  color: #666666;
  padding-right: 0.313rem;
}


nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
  padding: var(--spacing-medium);
}

.welcome {
  background-color: var(--bg-primary);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
nav .logo-link {
  padding: 0;
}
nav a {
  font-size: var(--fs-small);
  text-transform: uppercase;
  color: var(--text-light);}

  a {
    display: block;
    text-decoration: none;}
    a:-webkit-any-link {
     
      cursor: pointer;}

      nav img {
        width: auto;
        height: 60px;
    }
    
    
    img {
        overflow-clip-margin: content-box;
        overflow: clip;
    }
    nav a {
        font-size: var(--fs-small);
        text-transform: uppercase;
        color: var(--text-light);
        padding: var(--spacing-medium);
    }
    footer {
      background-color: var(--bg-primary);
      height: 5rem;
    }
    footer p {
      color: #fafafa;
      text-align: center;
      font-size: 0.75rem;
      font-family: 'Poppins' sans-serif;
      padding: 1.875rem;
    }
    
